@(rev : model.Reviewable, rating : model.Rating, commentForm : Form[views.CommentData])

@main(rev.name + "comment"){
	<h2>@rev.name</h2>
	@rev.ratings.map { rating =>
		<div>User: @rating.user.name</div>
		<div>Rating: @rating.rating</div>
	}
	@helper.form(action = routes.Application.addcomment()){
		@helper.textarea(commentForm("comment"), args = 'rows -> 3, 'cols -> 50, '_label -> "Comment")
		<input type="Submit" value="Submit Comment"/>
		<input type="hidden" value="@rating.id" name="ratingId"/>
		<input type="hidden" value="@rev.id" name="reviewableId"/>
		<input type="hidden" value="@rating.review.id" name="reviewId"/>
	}
}