@(discriminator : model.Discriminator)

@main("Discriminator: " + discriminator.name){
	<h2>@discriminator.name</h2>
	<h3>Rating: @discriminator.rating</h3>
	<a href="/node/@discriminator.id/rate"><h2>Rate</h2></a>
	<div class="floatleft">
	<h2>Parent records:</h2>
	<table>
	@discriminator.parentDiscriminators.map { discriminator =>
				<tr>
				<td><a href="/node/@discriminator.id">@discriminator.name</a></td>
				<td>@discriminator.rating</td>
				<tr>
	</table>
		}
	</div>
	
	<div class="discriminators">
	<h2><a href="/node/@discriminator.id/addsubrating">Subratings</a></h2>
		<table>
		@discriminator.childDiscriminators.map { discriminator =>
				<tr>
				<td><a href="/node/@discriminator.id">@discriminator.name</a></td>
				<td>@discriminator.rating</td>
				<tr>
		}
		</table>
	<div class="reviews"/>
		<h2>Reviews</h2>
		<table>
		@discriminator.ratings.map { rating =>
			@if(rating.review != null && rating.review.review != ""){
				<tr>
				<td>@rating.rating</td>
				@if(rating.review.review.length > 25){
				<td><a class="ratingLink" href="/node/@discriminator.id/review/@rating.id">@rating.review.review.substring(0,25)...</a></td>
				}
				@if(rating.review.review.length <= 25){
				<td><a class="ratingLink" href="/node/@discriminator.id/review/@rating.id">@rating.review.review</a></td>
				}
			}
			}
		</div>
}