@(loginForm : Form[views.UserData])

@main("Login page") {
<h2>Please login</h2>
		@helper.form(action = routes.Application.validateLogin){
			@helper.inputText(loginForm("login"))
			@helper.inputPassword(loginForm("password"))
			<input type="submit" value="login"/>
		}
		@helper.form(action = routes.Application.registerForm){
			<input type="submit" value="register"/>
		}
}