@(reviewable : model.Reviewable)

@import model._

@main(reviewable.name) {
		
		<h2>@reviewable.name</h2>
		
		<div>Labels:</div>
		<div>@reviewable.labels.map { label =>
			@if(label != "Reviewable" && label != "Discriminator"){
			<tc>
				<td>@label</td>
			</tc>
			}
		}
		</table>
		</div>
		<div>Description: @reviewable.description</div>
		<h3>Rating: @reviewable.rating</h3>
		<div>Number of ratings: @reviewable.numRatings</div>
		<div class="floatleft">
		<td><a href="/node/@reviewable.id/rate"><h2>Rate</h2></a></td>
		<img src=@reviewable.thumbnail width="150px" alt="Oops">
		</div>
		<div class="discriminators">
		<h2><a href="/node/@reviewable.id/addsubrating">Subratings</a></h2>
		<table>
		@reviewable.discriminators.map { discriminator =>
				<tr>
				<td><a href="/node/@discriminator.id">@discriminator.name</a></td>
				<td>@discriminator.rating</td>
				<tr>
		}
		</table>
		</div>
		<div class="relatedreviewables">
		<h2>Related reviewables</h2>
		<table>
		@reviewable.relatedReviewables.map { rev =>
				<tr>
				@if(rev.toOrFrom == "FROM"){
					<td>@rev.relationship</td>
				}
				<td><a href="/node/@rev.reviewable.id">@rev.reviewable.name</a>
				@if(rev.toOrFrom == "TO"){
					<td>@rev.relationship</td>
				}
				<td>@rev.reviewable.rating</td>
				</tr>
		}
		</table>
		</div>
		
		<div class="reviews">
		<h2>Reviews</h2>
		<table>
		@reviewable.ratings.map { rating =>
			@if(rating.review != null && rating.review.review != ""){
				<tr>
				<td>@rating.rating</td>
				@if(rating.review.review.length > 25){
				<td><a class="ratingLink" href="/node/@reviewable.id/review/@rating.id">@rating.review.review.substring(0,25)...</a></td>
				}
				@if(rating.review.review.length <= 25){
				<td><a class="ratingLink" href="/node/@reviewable.id/review/@rating.id">@rating.review.review</a></td>
				}
			}
			}
		</table>
		</div>
}