@(rating : model.Rating, reviewable : model.Reviewable, invokecommentform : Form[views.InvokeCommentForm])

@main(reviewable.name + " review") {
	<h2>Review</h2>
	<p>User: @rating.user.name</p>
	<p>Rating: @rating.rating</p>
	<p>Review: @rating.review.review</p>
	@helper.form(action = routes.Application.invokecommentform()){
		<input type="hidden" value="@reviewable.id" name="reviewableId"/>
		<input type="hidden" value="@rating.review.id" name="reviewId"/>
		<input type="hidden" value="@rating.id" name="ratingId"/>
		<input type="submit" value="Add Comment"/>
	}
	<h2>Comments</h2>
	<table class="commentsTable">
	@rating.review.comments.map { comment =>
				<tr>
				<td>User: @comment.user.name</td>
				<td>Created: @comment.createdDate</td>
				<td class="commentTd">@comment.comment</td>
				</tr>
		}
	</table>
}