@(searchForm : Form[String])
@import helper._
@import play.api.mvc.Request

@main("Search page") {
	<div align="center">
    	<img alt="Kingfisher" src=@routes.Assets.at("images/kingfisher.jpg")>
    </div>
	<div align="center">
	@helper.form(action = routes.Application.searchresults){
		@helper.inputText(searchForm("name"), '_label -> "", 'size -> 30 )
	}
	</div>
} 