@(reviewables : Seq[model.Reviewable], search : String)
@main("Search results") {
        <form action=@routes.Application.addreviewable()>
        	<input type="submit" src="@routes.Assets.at("images/add.png")" value="Add reviewable"/>
        </form>
	<h1>Searching for value: @search</h1>
	<h1>Results : </h1>
	
	<table>
	@reviewables.map { reviewable =>
		<tr>
			<td><img height=50 width=50 alt="thumbnail" src="@reviewable.thumbnail"/></td>
			<td><a href="/node/@reviewable.id">@reviewable.name</a></td>
			<td>@reviewable.rating</td>
			<td></td>
	}
	</table>
}