a:visited {
			color: blue;
			font-size: 100%;
			}
a:unvisited
{
	color: blue;
	font-size: 100%;
}

a {
	cp;pr: blue;
	font-size: 100%;
	text-decoration: none;
}

.floatleft {
	float: left;
	width: 200px;
	margin: 1em;
}

.discriminators{
	float: left;
	width: 200px;
	margin: 1em;
}

.relatedreviewables{
	float: left;
	width: 350px;
	margin: 1em;
}

.logout{
	position:absolute;
   top:0;
   right:0;
}